    <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: ['completed', '-date'] " ng-init="todo.completed = false">
      <input type="checkbox" ng-model="todo.completed" />
      <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
      <label ng-hide="editing" ng-click="editing=true"><b>{{todo.name}}</b> | Data de Criação: {{todo.date | date:'dd/MM/yyyy' }}</label>
      <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="todo.name" ng-change="todo.edited = true"/>
      <div class="actions">
        <a href="" ng-click="saveTodos()">Salvar</a>
        <a href="" class="delete" ng-click="deleteTodo(todo, $index)">Deletar</a>
      </div>
    </div>